.matches-result {

    background-image: url('../../../assets/img/matches-football-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 2em;
    margin-top: 2em;


}

@media (max-width: 768px) {}