
@font-face {
    font-family: OpenSansHebrew;
    src: url('../../fonts/opensanshebrew-regular.ttf')
}

@font-face {
    font-family: OpenSansHebrewLight;
    src: url('../../fonts/opensanshebrew-light.ttf')
}

@font-face {
    font-family: OpenSansHebrewBold;
    src: url('../../fonts/opensanshebrew-bold.ttf')
}


