// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;



// Font Sizes
$fz1: 1rem;
$fz2: 1.618rem;
$fz3: 2.618rem;
$fz4: 4.236rem;
$fz5: 6.854rem;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;